{% extends 'core/base.html' %}
{% load static %}
{% block title %}Messenger{% endblock title %}
{% block content %}
{% load templates %}
<link rel="stylesheet" href="{% static 'profiles/css/styles.css' %}">
<main>
  <section class="thread-detail">
    <aside class="thread">
      {% with other=thread.users.all|exclude:request.user %}
      <aside>
        {% if other.profile.avatar %}
        <img src="{{ other.profile.avatar.url }}" alt="{{other.username}} avatar image.">
        {% else  %}
        <img src="{% static 'registration/img/no-avatar.jpg' %}" alt="{{other.username}} avatar image.">
        {% endif %}
      </aside>
      <div class="thread-info">
        <h4 class="thread-user">{{ other.username }}</h4>
        {% with lastmessage=thread.messages.last %}
        <p>Hace {{ lastmessage.sended|timesince }}</p>
        {% endwith %}
      </div>
      {% endwith %}
    </aside>
    <article class="thread-messages">
      <h4>Chat</h4>
      {% for message in thread.messages.all %}
      {% if message.user == request.user %}
      <div class="message-content mine">
        <header class="message-date">Hace {{ message.sended|timesince }}</header>
        <p>{{ message.content }}</p>
      </div>
      {% else  %}
      <div class="message-content other">
        <header class="message-date">Hace {{ message.sended|timesince }}</header>
        <p>{{ message.content }}</p>
      </div>
      {% endif %}
      {% endfor %}
      <div class="message-form">
        <textarea id="contentInput" cols="30" rows="2" class="form-control mb-2" placeholder="Escribe tu mensaje"></textarea>
        <button class="btn btn-success btn-sm btn-block" id="sendBtn" disabled>Enviar</button>
        <script>
          const sendBtn = document.querySelector("#sendBtn")
          const textArea = document.getElementById("contentInput")
          
          // Send message event
          sendBtn.addEventListener('click', () => {
            const content = encodeURIComponent( textArea.value)
            if (!content) return
            textArea.value = ""
            const url = "{% url 'messenger:add' thread.pk %}" + "?content=" + content
            fetch(url, {'credentials':'include'}).then(res => res.json()).then(data => {
              alert(data.created)
            })
          })
          
          // Activate SendBtn depending on if there is message
          textArea.addEventListener('keyup', () => {
            if (!textArea.value) {
              sendBtn.disabled = true
            } else {
              sendBtn.disabled = false
            }
          })
        </script>
      </div>
    </article>
  </section>
</main>
{% endblock %}