{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear página{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<link rel="stylesheet" href="{% static 'pages/css/styles.css' %}">
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          <form action="" method="post">{% csrf_token %}
            <p>¿Estás seguro de borrar {{ page.title|slugify }}?</p>
            <input type="submit" class="page-button delete-button" value="Borrar Página" />
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}