label {
    display: none;
}

.profile-title {
    font-weight: bold;
}

@media (max-width: 720px) {
    .custom-form {
        flex-direction: column;
        align-items: center;
    }
}

.custom-form {
    display: flex;
    width: 100%;

    & span.label {
        font-weight: bold;
    }

    & .profile-avatar {
        display: flex;
        flex-direction: column;
        width: 200px;
        min-width: 200px;
        margin-right: 40px;

        & img {
            width: 200px;
            height: auto;
            margin-bottom: 0.7rem;
            border-radius: 20px;
            transition: 0.2s ease-in-out;

            &:hover {
                scale: 1.15
            }
        }
    }

    & .profile-text {
        padding-top: 2.5rem;
        width: inherit;

        & .file-input {
            overflow: visible !important;
        }

        & .file-input::-webkit-file-upload-button {
            border-radius: 7px;
            border: 0;
            background-color: rgb(0, 145, 255, 0.85);
            transition: 0.2s ease-in;
            color: white;
            font-weight: bold;
        }

        & .file-input::-webkit-file-upload-button:hover {
            background-color: rgb(0, 145, 255);
        }
    }
}